body {
    background-color: white;
}

h1 {
    text-align: center;
    font-weight: bold;
}

p {
    text-align: center;
}

.deletedrecipehighlight {
    color: pink;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

#container {
    background-color: #D2B48C;
    width: 900px;
    margin: 0 auto;
    border: solid 2px black;
}

#contents {
    background-color: #F08080;
}

#menu {
    float: inherit; text-align: center;
}

#footer {
    background-color: green;
    text-align: center;
}

.cssgridview {
    margin-left: auto;
    margin-right:auto;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Comic Sans MS';
    background-color: tan;
    padding-top: 20px;
    padding-bottom: 20px;
    }

    .cssgridview td {
        padding: 1px;
        border: solid 1px white;
        text-decoration: none;
    }

        .cssgridview td a {
            color: silver;
            text-decoration: none;
        }

    .cssgridview th {
        padding: 10px;
        color: #fff;
        background: #424242;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

        .cssgridview th a {
            color: silver;
            text-decoration: none;
        }

            .cssgridview th a:hover {
                color: white;
                background-color: #7C6F57;
                text-decoration: underline;
            }


    .cssgridview .alt {
        background: #fcfcfc;
    }


.cssdetailsview {
    font-family: "Comic Sans MS";
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
    text-align: center;
}


    .cssdetailsview td {
        padding: 10px;
        border: solid 1px #c1c1c1;
        color: #717171;
        text-align: left;
    }


    .cssdetailsview .header td {
        text-align: center;
        padding: 4px 2px;
        color: silver;
        background: #424242 repeat-x top;
        border-left: solid 1px #525252;
    }


    .cssdetailsview .fieldheader {
        color: red;
        width: 150px;
        text-align: right;
    }


    .cssdetailsview .altrow {
        background: #fcfcfc url(./css/grd_alt.png) repeat-x top;
    }


    .cssdetailsview .command {
        background: #424242 url(./css/grd_pgr.png) repeat-x top;
        line-height: 20px;
    }

        .cssdetailsview .command td {
            text-align: center;
        }

        .cssdetailsview .command a {
            color: Silver;
            text-decoration: none;
            padding: 10px;
        }

            .cssdetailsview .command a:hover {
                color: Silver;
                text-decoration: underline;
            }


    .cssdetailsview w .pager {
    }

.manual {
    margin-top: 50px;
    margin-left: 350px;
}

#image {text-align: center;
}
